body{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}


header{
    height:90px;
    width: 100vw;
    left:0;
    right:0;
    top:40px;
    background-color: #914049;
    border-radius: 5cqb;
    
}

section{
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap; 
 }

 section div{
    margin-left:10px;
    margin-bottom: 10px;
 }

.card {
    background-color: #e5ded0fa;
    padding: 20px;
    /* border-radius: px; */
    border-radius: 5px;
    display:block;
    width:230px;
    box-shadow: 10px 10px 5px gray;
  }
  .card-container {
    display: flex;
  }
  img{
    width: 200px;
    height: 200px;
}
  
  h2 {
    color: #333;
    font-size: 20px;
  }
  
  p {
    color: #666;
    margin-bottom: 10px;
  }

  img{
    align-content: center;
  }

form{
    padding-left:20px; 
    color:rgb(79, 121, 123)
    
}

form label{

font-family: cursive;
font-weight: bold;
}

footer{
    height:50px;
    width: 100vw;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    background-color:#914049;
    justify-content: center;
}


header div{
    padding-top: 30px;
    padding-left: 60vw;
}


footer div{
    padding-top: 15px;
    padding-left: 30vw;
    display: inline-block;}

footer a{
    border: 1px solid;
color:whitesmoke;
padding-inline: 0px;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:5px;



}

header a{
    
    border: 1px solid;
color:whitesmoke;
padding-inline: 0px;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:5px;
display: inline-block;
text-align: end;
}
list{

    width:100%;
    display:flex;
}

